*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
#Contenedor{
    width: 1450px;
    margin: 1.5em auto;
    padding: 1.5em;
}
h1{
    text-align: center;
    background-color: rgb(100, 50, 98);
    color: white;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
h3{
    text-align: center;
    padding: 10px;
    font-style: italic;
}
h4{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    padding: 8px 8px 8px 8px;
    border: 5px solid black;
    width: 350px;
    box-sizing: border-box;
    background-color: gainsboro;
    float: none;
}
#Nav{
    height: 10%;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}
nav ul{
    background-color: rgb(8, 72, 102);
    width: 100%;
    list-style-type: none;
    text-align: center;
    border-radius: 1em;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: black;
}
img{
    width: 135px;
    height: 135px;
    border-radius: 35%;
    object-fit: cover;
}
#Contenido{
    height: 165%;
    display: flex;
    margin: 75px;
    margin: 1em;
}
#Section{
    height: 100%;
    width: 70%;
    border-radius: 1em;
    float: left;
    margin-left: 0.5em;
}
#Aside{
    height: 100%;
    width: 30%;
    margin-right: 1em;
    border-left: 3px solid black;
}
#Footer{
    width: 100%;
    height: 30px;
    background-color: black;
    color: beige;
    margin-top: 40px;
    text-align: center;
}
.Articulo{
    width: 95%;
    height: 23%;
    margin: 1em;
    border-radius: 1em;
    color: black;
}
.Subarticle{
    width: 100%;
    height: 32.5%;
    margin: 1em;
    border-radius: 1em;
    color: black;
}
.Trarticle{
    width: 100%;
    height: 20%;
    margin: 1em;
    border-radius: 1em;
    color: black;
}
.Always{
    text-align: center;
}
