*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.avisoCookies{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color:black;
    color: white;
    width: 100vw;
    text-align: center;
}
.avisoCookies span{
    background-color: red;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    margin-left: 15px;
    cursor: pointer;
}
#Contenedor{
    width: 1450px;
    margin: 1.5em auto;
    padding: 1.5em;
}
h1{
    text-align: center;
    background-color: #192B42;
    color: white;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
h3{
    text-align: center;
    padding: 10px;
    font-style: italic;
}
h4{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: dotted 2px #ccc;
}
#Nav{
    height: 10%;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}
nav ul{
    background-color: #288C93;
    width: 100%;
    list-style-type: none;
    text-align: center;
    border-radius: 1em;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: black;
}
img{
    width: 135px;
    height: 135px;
    border-radius: 35%;
    object-fit: cover;
}
#Contenido{
    height: 165%;
    display: flex;
    margin: 75px;
    margin: 1em;
}
#Section{
    height: 100%;
    width: 98%;
    border-radius: 1em;
    float: left;
    margin-left: 0.5em;
}
#Footer{
    width: 100%;
    height: 30px;
    background-color: black;
    color: beige;
    margin-top: 40px;
    text-align: center;
}
.Articulo{
    width: 95%;
    height: 23%;
    margin: 1em;
    border-radius: 1em;
    color: black;
}
.Always{
    text-align: center;
}
